.post {
  position: relative;
  flex-grow: 1;
  margin: 0 auto;
  padding: 12px;
  width: auto;
  max-width: 768px;
  line-height: 2rem;
  font-size: 1.2rem;

  @include desktop {
    padding: 24px;
    line-height: 2.5rem;
    font-size: 1.6rem;
  }

  figure {
    margin-top: .5rem;
    margin-bottom: 1.5rem;
  }

  .block-content-p {
    a {
      word-break: break-word;
    }
  }
}

.post__main-image {
  margin-top: .5rem;
  margin-bottom: 1.5rem;
}

.post__title {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 1.8rem;

  @include desktop {
    font-size: 2.5rem;
  }
}

.post__time {
  font-size: 1rem;
}
