.block-content-p {
  margin: 0 0 2rem;

  @include desktop {
    margin: 0 0 2.5rem;
  }
}

.block-content-h1 {
  font-size: 2.5rem;
}

.block-content-h2 {
  font-size: 2rem;
}

.block-content-blockquote {
  margin: 0 0 2.5rem;
  line-height: 3rem;
  font-size: 2rem;
  font-style: italic;
}
