.language {
  display: flex;
  align-items: center;
  padding: 0;
  text-transform: uppercase;

  @include desktop {
    padding-left: 20px;
  }
}

.language__link {
  padding: 10px;
  color: $editor-menu-icon;

  &:hover,
  &:active {
    color: $editor-menu-icon-active;
  }
}
