$family-primary: 'Droid Sans Mono for Powerline', sans-serif;

$editor-background: #181818;
$editor-foreground: #d4d4d4;
$editor-activity-bar-badge: #007acc;
$editor-menu-background: #202021;
$editor-unselected-tab: #292929;
$editor-menu-icon: #c7c6c8;
$editor-menu-icon-active: #fff;

$editor-function: #dcdcaa;
$editor-type-declaration: #4ec9b0;
$editor-control-flow-keywords: #c586c0;
$editor-variable: #9cdcfe;
$editor-property: #ce9178;
$editor-regex: #d16969;
$editor-regex-quantifier: #d7ba7d;
$editor-constant: #569cd6;

$body-background-color: $editor-background;
$text: $editor-foreground;
$link: $editor-activity-bar-badge;
$link-hover: $editor-constant;
$white-ter: $text;
$yellow: $editor-property;

$navbar-background-color: $editor-menu-background;
$navbar-item-color: $editor-foreground;
$navbar-item-hover-color: $editor-foreground;
$navbar-item-hover-background-color: $editor-unselected-tab;
$navbar-burger-color: $navbar-item-color;

$card-background-color: $editor-unselected-tab;
$card-hover-color: rgba($editor-foreground, .15);
$tag-color: $editor-foreground;
$tag-background-color: $editor-menu-background;
$tag-radius: 0;
